.card-container {
      display: flex;
      justify-content: center;
      gap: 50px;
}

.card-wrapper {
      position: relative;
}

.card-text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      text-align: center;
      transition: opacity 0.3s;
}

.card-image {
      transition: transform 0.3s;
}

.card-wrapper:hover .card-image {
      transform: scale(1.1);

}